<div class="media-body">
  <form>
    <div class="row" style="padding:60px;">
      <label class="col-md-2 form-control-label" style="color:#36459b;"><b>NOMBRE DEL CLIENTE</b></label>
      <input class="form-control"  style="border:0px;background:none;" value="<%=clientData.name%>" disabled></input>
      <input class="form-control"  style="border:0px;background:none;" value="<%=clientData.username%>" disabled></input>
    </div>
  </form>
</div>
