
<% include ../templates/head.ejs %>

  <link rel="stylesheet" href="/public/assets/material/global/vendor/alertify/alertify.css">
  <link rel="stylesheet" href="/public/assets/material/global/vendor/notie/notie.css">
  <link rel="stylesheet" href="/public/assets/material/examples/css/advanced/alertify.css">
  <link rel="stylesheet" href="/public/assets/material/global/vendor/blueimp-file-upload/jquery.fileupload.css">
  <link rel="stylesheet" href="/public/assets/material/global/vendor/dropify/dropify.css">


<body class="animsition">
  <!-- Headear barra -->
  <% include ../templates/header.ejs %>

<!-- Menu-->
<% include ../templates/menuvertical.ejs %>

  <div class="page">
    <div class="page-header">
      <h1 class="page-title">Nueva Empresa</h1>
    </div>
    <div class="page-content container-fluid">
      <div class="row">
        <div class="col-md-6">
          <!-- Panel Static Labels -->
          <!-- End Panel Static Labels -->
        </div>
        <div class="col-md-12">
          <!-- Panel Floating Labels -->
          <div class="panel">
            <div class="panel-heading">
              <h3 class="panel-title"></h3>
            </div>
            <div class="panel-body container-fluid">
              <form method="post">
                <div class="form-group row form-material row">
                  <label class="col-md-3 form-control-label" style="padding:20px;">Nombre de la Empresa:</label>
                  <div class="col-md-4" style="padding:10px;">
                    <input type="text" id="empresa" class="form-control empresa" name="empresa" placeholder="Nombre de la Empresa" autocomplete="off"
                    required/>
                  </div>
                </div>
                <div class="form-group row form-material row">
                  <label class="col-md-3 form-control-label" style="padding:20px;">Tipo de Negocio:</label>
                  <div class="col-md-4" style="padding:10px;">
                    <select class="form-control" id="selectCategories">
                      <%if(typeBusiness.length>0){%>
                        <% typeBusiness.forEach(function(tb) { %>
                          <option value="<%=tb.id%>"><%= tb.name %></option>
                        <% }); %>
                      <%}%>
                    </select>
                  </div>
                </div>
                <br><br>
                <label><b>Datos para el Propietario Administrador</b></label>
                <div class="owneradmin" style="border-top:solid;border-top-style:outset;padding:20px;"><br><br>
                  <div class="form-group row form-material row">
                    <label class="col-md-3 form-control-label">Nombre:</label>
                    <div class="col-md-4">
                      <input type="text" id="nombrePA" class="form-control" name="propietario" placeholder="Nombre" autocomplete="off"
                      required/>
                    </div>
                  </div>
                  <div class="form-group row form-material row">
                    <label class="col-md-3 form-control-label">Teléfono:</label>
                    <div class="col-md-4">
                      <input type="text" id="phonePA" class="form-control" name="phonePA" placeholder="Teléfono" autocomplete="off"
                      required/>
                    </div>
                  </div>
                  <div class="form-group row form-material row">
                    <label class="col-md-3 form-control-label tagemail2">Email:</label>
                    <div class="col-md-4">
                      <input type="email" id="emailPA" class="form-control" name="emailPA" placeholder="Email" autocomplete="off"
                      required/>
                    </div>
                  </div>

                  <div class="form-group row form-material row" style="margin-bottom:-14px;">
                    <label class="col-md-3 form-control-label">Password:</label>
                    <div class="col-md-4">
                      <input type="text" id="passPA" class="form-control" name="passPA" placeholder="Password" autocomplete="off"
                      required/>
                    </div>
                  </div>

                </div>
                <div class="form-group row form-material row">
                  <label class="col-md-3 form-control-label"></label>
                  <div class="col-md-9">
                    <input type="text" id="userId" style="visibility:hidden;" value="<%=session.userId%>"/>
                  </div>
                </div>
                <button type="reset" class="btn btn-warning clean" style="visibility:hidden;">Limpiar</button>
                <button type="button" class="btn btn-primary waves-effect" id="mainbusinessDelaysucc" data-plugin="alertify"
                data-type="log" data-delay="3000" data-log-message="Datos Enviados" style="visibility:hidden;" >delay</button>
                <button type="button" class="btn btn-primary waves-effect" id="emailerror" data-plugin="alertify"
                data-type="log" data-delay="5000" data-log-message="Ya este Email Existe para otro Propietario Administrador " style="visibility:hidden;" >delay</button>
                <button type="button" class="btn btn-primary waves-effect" id="mainbusinessSave" data-plugin="alertify"
                data-type="log" data-delay="3000" data-log-message="Se guardo con Exito" style="visibility:hidden;" >delay</button>
            </div>
          </div>
          <!-- End Panel Floating Labels -->
        </div>
      </div>

      <div class="form-group row form-material row">
        <div class="col-md-9 offset-md-3">
          <button type="submit" class="btn btn-primary registerMainBusiness" style="margin-left: 28%;">Registrar</button>
          <img class="loadgif" src="/public/assets/images/load.svg" style="margin-left:-65px; visibility:hidden;">
        </div>
      </div>
      </form>
    </div>
  </div>


  <!--seccion 2 modal 2 -->
      <!-- End Panel Input Grid -->
  </div>
  <!-- End Page -->
  <!-- Footer -->
  <% include ../templates/footer.ejs %>
  <!-- Core  -->
  <% include ../templates/core.ejs %>
    <script src="/public/assets/js/mainbusiness.js"></script>
  <div class="alertify-logs"></div>
</body>
</html>
