<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta name="description" content="bootstrap admin template">
  <meta name="author" content="">
  <title>Recuperar contraseña</title>
  <link rel="apple-touch-icon" href="/public/assets/material/images/apple-touch-icon.png">
  <link rel="shortcut icon" href="/public/assets/material/images/favicon.ico">
  <!-- Stylesheets -->
  <link rel="stylesheet" href="/public/assets/material/global/css/bootstrap.min.css">
  <link rel="stylesheet" href="/public/assets/material/global/css/bootstrap-extend.min.css">
  <link rel="stylesheet" href="/public/assets/material/css/site.min.css">
  <!-- Plugins -->
  <link rel="stylesheet" href="/public/assets/material/global/vendor/animsition/animsition.css">
  <link rel="stylesheet" href="/public/assets/material/global/vendor/asscrollable/asScrollable.css">
  <link rel="stylesheet" href="/public/assets/material/global/vendor/switchery/switchery.css">
  <link rel="stylesheet" href="/public/assets/material/global/vendor/intro-js/introjs.css">
  <link rel="stylesheet" href="/public/assets/material/global/vendor/slidepanel/slidePanel.css">
  <link rel="stylesheet" href="/public/assets/material/global/vendor/flag-icon-css/flag-icon.css">
  <link rel="stylesheet" href="/public/assets/material/global/vendor/waves/waves.css">
  <link rel="stylesheet" href="/public/assets/material/examples/css/pages/forgot-password.css">
  <!-- Fonts -->
  <link rel="stylesheet" href="/public/assets/material/global/fonts/material-design/material-design.min.css">
  <link rel="stylesheet" href="/public/assets/material/global/fonts/brand-icons/brand-icons.min.css">
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>

  <script src="/public/assets/material/global/vendor/breakpoints/breakpoints.js"></script>
  <script>
  Breakpoints();
  </script>
</head>

  <body class="animsition page-forgot-password layout-full">
    <div class="page vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">
    <div class="page-content vertical-align-middle">
      <h2>Recuperar tu contraseña?</h2>
      <p>Ingrese su correo electrónico registrado para restablecer su contraseña</p>
      <form>
        <div class="form-group form-material floating" data-plugin="formMaterial">
          <input type="email" class="form-control empty" id="inputEmail" name="email">
          <label class="floating-label" for="inputEmail">Email</label>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">Reuperar tu contraseña</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Core  -->
  <script src="/public/assets/material/global/vendor/babel-external-helpers/babel-external-helpers.js"></script>
  <script src="/public/assets/material/global/vendor/jquery/jquery.js"></script>
  <script src="/public/assets/material/global/vendor/tether/tether.js"></script>
  <script src="/public/assets/material/global/vendor/bootstrap/bootstrap.js"></script>
  <script src="/public/assets/material/global/vendor/animsition/animsition.js"></script>
  <script src="/public/assets/material/global/vendor/mousewheel/jquery.mousewheel.js"></script>
  <script src="/public/assets/material/global/vendor/asscrollbar/jquery-asScrollbar.js"></script>
  <script src="/public/assets/material/global/vendor/asscrollable/jquery-asScrollable.js"></script>
  <script src="/public/assets/material/global/vendor/ashoverscroll/jquery-asHoverScroll.js"></script>
  <script src="/public/assets/material/global/vendor/waves/waves.js"></script>
  <!-- Plugins -->
  <script src="/public/assets/material/global/vendor/switchery/switchery.min.js"></script>
  <script src="/public/assets/material/global/vendor/intro-js/intro.js"></script>
  <script src="/public/assets/material/global/vendor/screenfull/screenfull.js"></script>
  <script src="/public/assets/material/global/vendor/slidepanel/jquery-slidePanel.js"></script>
  <script src="/public/assets/material/global/vendor/jquery-placeholder/jquery.placeholder.js"></script>
  <!-- Scripts -->
  <script src="/public/assets/material/global/js/State.js"></script>
  <script src="/public/assets/material/global/js/Component.js"></script>
  <script src="/public/assets/material/global/js/Plugin.js"></script>
  <script src="/public/assets/material/global/js/Base.js"></script>
  <script src="/public/assets/material/global/js/Config.js"></script>
  <script src="/public/assets/material/js/Section/Menubar.js"></script>
  <script src="/public/assets/material/js/Section/Sidebar.js"></script>
  <script src="/public/assets/material/js/Section/PageAside.js"></script>
  <script src="/public/assets/material/js/Plugin/menu.js"></script>
  <script src="/public/assets/js/forgot.js"></script>
  <!-- Config -->
  <script src="/public/assets/material/global/js/config/colors.js"></script>
  <script src="/public/assets/material/js/config/tour.js"></script>
  <script>
  Config.set('assets', '/public/assets/material');
  </script>
  <!-- Page -->
  <script src="/public/assets/material/js/Site.js"></script>
  <script src="/public/assets/material/global/js/Plugin/asscrollable.js"></script>
  <script src="/public/assets/material/global/js/Plugin/slidepanel.js"></script>
  <script src="/public/assets/material/global/js/Plugin/switchery.js"></script>
  <script src="/public/assets/material/global/js/Plugin/jquery-placeholder.js"></script>
  <script src="/public/assets/material/global/js/Plugin/material.js"></script>

  <script>
  (function(document, window, $) {
    'use strict';
    var Site = window.Site;
    $(document).ready(function() {
      Site.run();
    });
  })(document, window, jQuery);
  </script>

</body>
</html>
